.homepage-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card-wrapper {
  position: absolute;
  top: 80px;
  left: 5%;
  z-index: 2;
  max-width: 300px;
  width: 90%;
}
